<!DOCTYPE html> 
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>订单系统</title>
    <meta name="description" content="">
    <meta name="author" content="elevensky">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" href="fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.2.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mobile-1.4.2.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
<div data-role="page" id="product">
    <div data-role="header" data-position="fixed" class="header">
        <a href="javascript:history.go(-1);" class="bn fl"><i class="iconfont backgo">&#xf0292</i></a>
        <span class="title">新疆吐鲁番哈密瓜</span>
        <a href="mobile.php?act=module&amp;name=shopping&amp;do=mycart&amp;weid=1" class="bn pull-right"><i class="iconfont buycar fr">&#xf0148</i><span class="buy-num img-circle" id="carttotal">3</span></a>
    </div>
    <div class="ui-content" role="main">
        <div class="detail-img mtm">
            <img class="imgauto" src="./images/ha.jpg">
        </div>
        <div class="detail-div img-rounded">
            <div class="detail-group text-center f14" style="line-height:20px;">洗索尼（SONY） KDL-50R556A 50英寸 全高清3D LED液晶电视</div>
            <div class="detail-group">
                <span class="col-xs-4">价格：</span>
			<span class="col-xs-8">
				¥ <span class="text-danger" style="font-size:18px; font-weight:bold;">100</span> / 台			</span>
            </div>
            <a href="javascript:order.add(1);" class="btn btn-danger col-xs-12" style="margin-top:10px;"><i class="ico ico-jia mrm"></i></i> 添加到购物车</a>
        </div>
        <p>该水果含有的B族复合维生素也有很好的保健功效，维生素C有助于人体抵抗传染病，而矿
            物质锰可以作为抗氧化酶超氧化物歧化酶的协同成分。哈密瓜还含有丰富的抗氧化剂类黄酮，如玉
            米黄质可以保护我们的身体，预防各种癌症。</p>
        <p>其含有的丰富维生素A有助于维持健康的皮肤，减少患白内障的风险，并改善视力。维生素A的功效还
            包括防止肺癌和口腔癌。哈密瓜还可以作为孕妇饮食的一部分，这种水果能够缓解保水，帮助身体排除
            多余的钠。其含有的叶酸成分有助于预防
        小儿神经管畸形。因此，了解这些知识，可以在饮食中适当增加这种水果，帮助改善健康状况。</p>
        <p> 虽然哈密瓜的功效与作用很多，对人体非常有益，但是哈密瓜性凉不宜吃的过多，以免引起腹泻。</p>
    </div>
</div>
<script>
$(document).on("tap", ".ac-add", function(){
    var item = $(this).parent(),
        num = parseInt(item.find(".ordernum").text());
    item.find(".ordernum, .ac-reduce").show();
    item.find(".ordernum").text(num+1);
});
$(document).on("tap", ".ac-reduce", function(){
    var item = $(this).parent(),
        num = parseInt($(this).parent().find(".ordernum").text());
    if(num == 1){
        item.find(".ordernum, .ac-reduce").hide();
    } else {
        item.find(".ordernum").text(num-1);
    }
});
</script>  
</body>
</html>










