{% extends ":Layouts:classbox.html.twig" %}

{% block wrap %}
<!-- Main Content -->
<header class="bar bar-nav">
    <h1 class="title">
    	班级录
    </h1>
</header>
<div id="ucenter" class="content">
	班级录
</div>
{% endblock %}