{% extends ":Layouts:activity.html.twig" %}

{% block wrap %}
<div class="content-body">
    <div class="swiper-container js-power-scroll">
        <div class="swiper-wrapper">
             <div class="swiper-slide slide-quan">
                <div class="hmh_logo"><img src="/img/activity/hmh_logo.png"/></div>
                <div class="cash hide">
                    代金卷码：<span>{{ ticket }}</span><br/>
                    <span class="font_18">只限机主使用</span>
                </div>
                <button type="button" class="receive cf">立即领取</button>
                <div class="suss hide">您已成功领取{{ ticket_money }}元代金券</div>
            </div>
        </div>
    </div>
</div>
<script src="/js/Activity/Validform_v5.3.2.js"></script>
{% endblock %}