{% extends ":Layouts:activity.html.twig" %}

{% block wrap %}
<div class="swiper-container js-power-scroll" >
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-video">
            <div class="slide-wrapper video-wrap">
                <div class="ui-title">
                  大佬邀你进黑马社群
                </div>
                <div class="ui-desc">
                	<span id="month">2015-07-22</span><span id="tag">i黑马</span>
                </div>

                <div class="product_video">
                                    <!--  <div class="icon"><a href="register.html"></a></div> -->
                	<video controls="controls" controls="controls" id="video" preload="metadata"
                width="570" height="320" name="media" src="/img/activity/video3.mp4">
                	</video>
                	<div class="logo"><img src="/img/activity/fz.jpg"/></div>
                </div>

                <div class="introduction">
					<p class="in_content">
                    加入中国最活跃的创业者社群，咱们兄弟们一起成长。<br/>
                    听说新地球也知道黑马会？我们抱团走进新世界吧！
                    </p>
                   	<!--  <div class="read"><span class="register">黑马会报名请猛戳</span><span class="red_read">“阅读全文”</span></div> -->
                   	<div class="register_btn"><a href="{{ baseurlAction }}/member-reg">下一步</a></div>
	                    <div class="all">
		                    <span class="read_all">阅读全文</span>
		                    <span class="read_num">阅读 100000+</span>
		                    <span class="suppose">100000</span>
		                    <span class="report">举报</span>
	                    </div>
                	</div>
            	</div>
        	</div>
		</div>
	</div>
</div>
<script src="/js/Activity/Validform_v5.3.2.js"></script>
{% endblock %}