body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  display: -webkit-box;
  overflow-x: hidden;
  color: #000;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-font-smoothing: antialiased;

}
html,body{height: 100%;}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none;
}
.sharepic {
  display: none;
}
.swiper-container {
  position: relative;
  z-index: 12;
}
.swiper-slide {
  overflow: visible;
  color: #fff;
  background: transparent;
}
.anim-bouncein {
  -webkit-animation: bounceIn .7s linear 0 1;
  -moz-animation: bounceIn .7s linear 0 1;
  -ms-animation: bounceIn .7s linear 0 1;
  animation: bounceIn .7s linear 0 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes Glide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1152px;
  }
}
@keyframes Glide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1152px;
  }
}
@-webkit-keyframes blackSlide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -430px;
  }
}
@keyframes blackSlide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -430px;
  }
}
/* mypage */
.slide-mypage.swiper-slide {
  background: #171717;
  background-size: cover;
  width:100%;
}
.slide-mypage .ui-big-space {
  height: 10%;
}
.slide-mypage .ui-middle-space {
  height: 7.5%;
}
.slide-mypage .ui-small-space {
  height: 3%;
}
.slide-mypage .ui-mini-space {
  height: 2%;
}
.slide-mypage .ui-min-space {
  height: 10px;
}
.slide-mypage .ui-title {
  padding: 30px 0;
  font-size: 140px;
  text-align: center;
  color: #fefefe;
  font-family: "AppleSDGothicNeo-Thin";
}
.slide-mypage .ui-desc {
  font-size: 26px;
  text-align: center;
  padding:0 0 50px;
}
.slide-mypage .ui-desc #today {
  margin-left: 5px;
}
.slide-mypage .ui-choose-teacher {
  padding: 15px 0;
  margin: 0 4%;
  border-top: 1px solid #272727;
  font-size: 28px;
  color: #fefefe;
  padding-left: 80px;
  line-height: 30px;
  background: url(../../img/activity/weixin.png) no-repeat 4% 20px;
}
.slide-mypage .ui-choose-teacher .light_gray {
  color: #272727;
  font-size: 20px;
}
.slide-mypage .ui-botton {
  width: 217px;
  height: 37px;
  background: url(../../img/activity/huadong.png) no-repeat 0 0;
  -webkit-animation: Glide 1.8s steps(32) 0s infinite;
  animation: Glide 1.8s steps(32) 0s infinite;
  position: absolute;
  bottom: 10%;
}
.ui-botton a{
  display: block;
  width: 100%;
  height: 100%;
}
.slide-mypage .ui_bottom {
  width: 338px;
  height: 34px;
  position: absolute;
  right: 2%;
  bottom: 2%;
  background: url(../../img/activity/xia.jpg) no-repeat 0 0;
}
.gt1000 .slide-mypage .ui-mini-space {
  height: 4%;
}
.gt1000 .slide-mypage .ui-min-space {
  height: 2%;
}
/*groupchats 2*/
.slide-groupchats {
  background: #ececec;
  position: relative;
}
.slide-groupchats .slide-wrapper {
  background: #ececec;
  position: relative;
  padding-bottom: 100px;
}
.slide-groupchats .ui-big-space {
  height: 10%;
}
.slide-groupchats .ui-middle-space {
  height: 7.5%;
}
.slide-groupchats .ui-small-space {
  height: 3%;
}
.slide-groupchats .ui-mini-space {
  height: 20px;
}
.slide-groupchats .ui-min-space {
  height: 10px;
}
.slide-groupchats .ui-title {
  font-size: 20px;
  text-align: center;
  color: #FFF;
  /*font-family: "AppleSDGothicNeo-Thin";*/
  background: #cecece;
  width: 70px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 15px;
  margin-top: 2%;
}
.slide-groupchats .ui-desc {
  font-size: 24px;
  text-align: left;
  width: 90%;
  border-radius: 4px;
  background: #cecece;
  color: #fff;
  padding: 10px 15px;
  margin: 0 auto;
  margin-top: 2%;
}
.slide-groupchats .ui-choose-teacher {
  padding-top: 25px;
  font-size: 20px;
  color: #656565;
  padding-left: 2%;
  padding-right: 2%;
  line-height: 30px;
}
.huizhang{
  padding-bottom: 30px;
}
.slide-groupchats .ui-choose-teacher .advator {
  float: left;
  width: 68px;
  height: 68px;
}
.slide-groupchats .ui-choose-teacher .right {
  float: left;
  width: 65%;
}
.slide-groupchats .ui-choose-teacher .right .name {
  font-size: 2rem;
  color: #656565;
  margin-left: 25px;
  height: 40px;
  margin-top: -10px;
  display: block;
}
.slide-groupchats .ui-choose-teacher .right .deep_gray {
  color: #181818;
  font-size: 2.4rem;
}
.slide-groupchats .ui-choose-teacher .right .content_mess {
  margin-left: 25px;
  position: relative;
  width: 100%;
}
.slide-groupchats .ui-choose-teacher .right .content_mess a {
    display: inline-block;

  width: 350px;
  height: 120px;
  position: absolute;
  z-index: 100;
  left:10px;
  top: 10px;
}

.slide-groupchats .ui-choose-teacher .right .content_mess a .icon {
  display: inline-block;
  float: right;
  width: 120px;
  height: 120px;
  background: url(../../img/activity/black_icon.png) no-repeat center center;
  -webkit-animation: blackSlide 1.2s steps(4) 0s infinite;
  animation: blackSlide 1.2s steps(4) 0s infinite;
}

.slide-groupchats .ui-choose-teacher .right .content_mess .icon a{
  display: block;
  width: 100%;
  height: 100%;
}
.slide-groupchats .ui-choose-teacher .right .content_mess .sanjiao {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border: solid 1px #dcdcdc;
  border-right: transparent;
  border-top: transparent;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 18px;
  z-index: 2;
}
.slide-groupchats .ui-choose-teacher .right .content_mess .tip_bg {
  background: #fff;
  border: solid 1px #dcdcdc;
  border-radius: 10px;
  padding: 10px 15px;
  float: left;
  margin-left: 10px;
  font-size: 24px;
  text-align: justify;
}
.slide-groupchats .ui-choose-teacher .right .content_mess .tip_bg .ui_title {
  font-size: 24px;
  color: #181818;
  margin-bottom: 24px;
  display: inline-block;
}
.slide-groupchats .ui-choose-teacher .right .content_mess .tip_bg .ms_img {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 10px;
}
.slide-groupchats .ui-choose-teacher .right .content_mess .tip_bg .mes_content {
  color: #959292;
  font-size: 24px;
  float: left;
  width: 60%;
  height: 120px;
  overflow: hidden;
  text-align: justify;
}
.slide-groupchats .ui-choose-teacher .advator_r {
  float: right;
  width: 68px;
  height: 68px;
}
.slide-groupchats .ui-choose-teacher .right_r {
  float: right;
  width: 65%;
}
.slide-groupchats .ui-choose-teacher .right_r .name {
  font-size: 2rem;
  color: #656565;
  margin-right: 25px;
  height: 40px;
  margin-top: -10px;
  display: block;
  text-align: right;
}
.slide-wrapper.video-wrap{
  height: 100%;
}
.slide-groupchats .ui-choose-teacher .right_r .deep_gray {
  color: #181818;
  font-size: 2.4rem;
}
.slide-groupchats .ui-choose-teacher .right_r .content_mess {
  margin-right: 25px;
  position: relative;
  width: 100%;
}
.slide-groupchats .ui-choose-teacher .right_r .content_mess .sanjiao {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #bceb4f;
  border: solid 1px #dcdcdc;
  border-left: transparent;
  border-bottom: transparent;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 18px;
  z-index: 2;
  right: 30px;
}
.slide-groupchats .ui-choose-teacher .right_r .content_mess .tip_bg {
  background: #bceb4f;
  border: solid 1px #dcdcdc;
  border-radius: 10px;
  padding: 10px 15px;
  float: right;
  margin-right: 10px;
  margin-right: 40px;
  color: #181818;
}
.ui-alert {
  width: 100%;
  height: 488px;
  background: url(../../img/activity/2-alert.jpg) no-repeat 0 0;
  position: absolute;
  bottom: 0;
  z-index: 999;
}
.ui-alert .icon {
  width: 110px;
  height: 110px;
  position: absolute;
  background: url(../../img/activity/black_icon.png) no-repeat center center;
  z-index: 100;
  right: 20px;
  bottom: 10px;
  -webkit-animation: blackSlide 1.2s steps(4) 0s infinite;
  animation: blackSlide 1.2s steps(4) 0s infinite;
}
.ui_bottom {
  width: 100%;
  height: 99px;
  position: absolute;
  bottom: 0;
  z-index: 99;
  background: url(../../img/activity/2-bottom.jpg) no-repeat 0 0;
}
.gt1000 .slide-groupchats .ui-mini-space {
  height: 4%;
}
.gt1000 .slide-groupchats .ui-min-space {
  height: 2%;
}
/* video */
.slide-video.swiper-slide {
  background: #fff;
  background-size: cover;
  width: 100%;
}
.slide-video .ui-big-space {
  height: 10%;
}
.slide-video .ui-middle-space {
  height: 7.5%;
}
.slide-video .ui-small-space {
  height: 20px;
}
.slide-video .ui-mini-space {
  height: 2%;
}
.slide-video .ui-min-space {
  height: 1%;
}
.slide-video .ui-title {
  font-size: 4.6rem;
  text-align: left;
  color: #0b0b0b;
  font-family: "Adobe 黑体 Std R";
  padding-left: 3%;
  margin:3% 0;
}
.slide-video .ui-desc {
  padding-left: 3%;
  font-size: 2.4rem;
  text-align: left;
  color: #8d8d8d;
}
.slide-video .ui-desc #tag {
  margin-left: 30px;
  color: #5d7895;
}
.slide-video .product_video {
  width: 100%;
  height: 500px;
  margin-top:2%;
  background: #f2eddf;
  text-align: center;
  position: relative;
  padding-top: 40px;
}
.slide-video .product_video .icon {
  width: 110px;
  height: 117px;
  position: absolute;
  background: url(../../img/activity/black_icon.png) no-repeat center center;
  z-index: 100;
  left: 1.1%;
  bottom: 106px;
  -webkit-animation: blackSlide 1.2s steps(4) 0s infinite;
  animation: blackSlide 1.2s steps(4) 0s infinite;
}
.slide-video .product_video #video{
  /*padding-top: 40px;*/
  background-color: #000000;

}
.slide-video .product_video  .logo{
  padding:40px 0;
}
.slide-video .product_video  .logo img{
  width: 249px;
  height: 92px;
}
.register_btn{
  margin: 0 8%;
  width: 84%;
  height: 70px;
  line-height: 70px;
  background: #22bf43;
  color: #fff;
  font-size: 3.2rem;
  border-radius: 4px;
  margin-top: 4%;
  margin-bottom: 8%;
  border: none;
  text-align: center;
}
.register_btn a{
  color: #fff;
  display: block;
  height: 100%;
  width: 100%;
}
.slide-video .introduction {
  font-size: 2.4rem;
  color: #434343;
  width: 100%;
}
.Validform_wrong{
  font-size: 20px;
  color: red;
}
.slide-video .introduction .in_content {
  line-height: 60px;
  margin-top: 5%;
  padding: 0 3%;
}
.slide-video .introduction .read {
  line-height: 60px;
}
.slide-video .introduction .read .register {
  color: #000;
  font-size: 2.6rem;
  margin-right: 20px;
}
.slide-video .introduction .read .red_read {
  color: #a20808;
  font-size: 2.6rem;
}
.slide-video .introduction .all {
  line-height: 60px;
  margin-top: 10px;
  font-size: 2.4rem;
  position: relative;
  padding:0 3%;
}

.slide-video .introduction .all .read_all {
  color: #5d7895;
  margin-right: 45px;
}
.slide-video .introduction .all .read_num {
  color: #9d9d9d;
  margin-right: 25px;
}
.slide-video .introduction .all .suppose {
  color: #9d9d9d;
  background: url(../../img/activity/suppose.jpg) left center no-repeat;
  margin-right: 20px;
  padding-left: 40px;
}
.slide-video .introduction .all .report {
  color: #9d9d9d;
}
.gt1000 .slide-video .ui-mini-space {
  height: 30px;
}
.gt1000 .slide-video .ui-min-space {
  height: 20px;
}
/* register */
.slide-register.swiper-register {
  background: #fff;
  background-size: cover;
}
.slide-register .ui-big-space {
  height: 50px;
}
.slide-register .ui-middle-space {
  height: 40px;
}
.slide-register .ui-small-space {
  height: 30px;
}
.slide-register .ui-mini-space {
  height: 20px;
}
.slide-register .ui-min-space {
  height: 10px;
}
.slide-register .ui-logo {
  margin: 0 auto;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: solid 1px #b8b8b8;
  padding: 28px;
}
.slide-register .ui-logo img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
}
.slide-register .person {
  padding: 0 3%;
}
.slide-register .person ul li {
  float: left;
  width: 80px;
  margin-right: 22px;
  cursor: pointer;
  border-radius: 4px;
}
.slide-register .person ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #878787;
  font-size: 2.4rem;
}
.slide-register .person ul li a img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
}
.slide-register .person ul li:last-child {
  margin-right: 0;
}
.slide-register .come {
  width: 100%;
  height: 84px;
}
.slide-register .join {
  width: 100%;
  height: 39px;
}
.slide-register .form {
  padding: 0 6%;
}
.slide-register .form .formitem {
  font-size: 0;
  height: 80px;
}
.slide-register .form .leftlabel {
  float: left;
  width: 14%;
  margin-right: 25px;
  height: 50px;
  line-height: 50px;
  margin-left: 25px;
}
.slide-register .form .name {
  background: url(../../img/activity/name.png) no-repeat right center;
}
.slide-register .form .mobile {
  background: url(../../img/activity/mobile.png) no-repeat right center;
}
.slide-register .form .formobject {
  float: left;
  width: 66%;
}
.slide-register .form input[type='text'] {
  font-size: 2.8rem;
  line-height: 50px;
  width: 100%;
  height: 50px;
  padding: 0 .5em;
  border-radius: 4px;
  background: #f4f4f4;
  color: #434343;
  border: solid 1px #c6c6c6;
}
.slide-register .form input[type='text']:focus {
  border-color: #4aa5b8;
  outline: none;
  border: solid 1px #878787;
  color: #434343;
}
.slide-register .form .submit {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #22bf43;
  color: #fff;
  font-size: 3.2rem;
  border-radius: 4px;
  margin-top: 3%;
  border: none;
}
#shareout{
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #fff;
  color: #434343;
  font-size: 3.2rem;
  border-radius: 4px;
  margin-top: 3%;
  border:solid 1px #dedede;
  outline: none;
}
.ruhui{
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #22bf43;
  color: #ffffff;
  font-size: 3.2rem;
  border-radius: 4px;
  margin-top: 3%;
  border:solid 1px #dedede;
  outline: none;
}
.submit a{
  color: #fff;
}
.gt1000 .slide-register .ui-mini-space {
  height: 4%;
}
.gt1000 .slide-register .ui-min-space {
  height: 2%;
}
/* register */
.slide-share.swiper-share {
  background: #fff;
  background-size: cover;
}
.slide-share .ui-big-space {
  height: 50px;
}
.slide-share .ui-middle-space {
  height: 60px;
}

.slide-share .why {
  width: 100%;
  height: 87px;
  line-height: 87px;
  text-align: left;
  font-size: 3.6rem;
  color: #000;
  margin-top: 8%;
  padding-left: 7%;
}
.yuanbao{
  text-align: center;
}
.success{
    width: 100%;
    height: 87px;
    line-height: 87px;
    text-align: center;
    font-size: 46px;
    color: #121212;

}
.success .img {
  width: 68px;
  height: 68px;
  margin-right: 20px;
  display: inline-block;
}
 .success span {
  display: inline-block;
  height: 87px;
  line-height: 87px;
  vertical-align: 20px;
}
.slide-share .why .img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  display: inline-block;
}
.slide-share .why span {
  display: inline-block;
  height: 87px;
  line-height: 87px;
  vertical-align: 12px;
}
.slide-share .text {
  padding: 0 7%;
  text-align: justify;
  color: #919191;
  font-size: 2.4rem;
  line-height: 35px;
}
.slide-share .text p {
  padding-bottom: 15px;
}
.slide-share .share {
  margin: 0 8%;
  width: 84%;
  height: 70px;
  line-height: 70px;
  background: #22bf43;
  color: #fff;
  font-size: 3.2rem;
  border-radius: 4px;
  margin-top: 3%;
  border: none;
}
.activity{
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  color: #919191;
}
.slide-share .share:focus {
  background: #1da93a;
  color: #fff;
}
.gt1000 .slide-share .ui-mini-space {
  height: 4%;
}
.gt1000 .slide-share .ui-min-space {
  height: 2%;
}
/* register */
.slide-quan {
  background: url(../../img/activity/quan.jpg) no-repeat 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.hmh_logo{
  text-align: center;
  margin-top: 15%;
}
.cash{

    text-align: center;
    height: 40px;
    color: #606f76;
    font-size: 24px;
    font-family: "Microsoft Yahei";
    width: 400px;
    left: 50%;
    margin-left: -200px;
    margin-top: 50%;
    position: absolute;
}
.user-info{
  width: 70%;
  height: 100px;
  margin:300px auto 5%;
}
.user-info img{
  width: 90px;
  height: 90px;
  border-radius: 50px;
  vertical-align: middle;
  border:5px solid #fff;
}
.user-info .username{
  font-size: 24px;
  color:#ffffff;
  margin-left: 35px;
}
.numimg{
  padding:104px 0 0 50px;
}
.numimg img{
  width: 36px;
  height: 60px;
}
.user-info .username .name{
  padding-bottom: 20px;
  padding-top: 18px;
}
.cashacrd{
  width:422px;
  height: 300px;
  margin:auto;
  padding: 20px 0 0 25px;
  background:url(../../img/activity/border-bg.png) no-repeat 0 0;
}
.cashacrd .card{
  width: 388px;
  height: 273px;
  overflow: hidden;
  position: relative;
  background:url(../../img/activity/quanbg.png) no-repeat 0 0;
}
.cashacrd .card .tips{
  font-size: 24px;
  color:#606f76;
  text-align: center;
  padding-top: 28px;
  /*position: absolute;
  bottom: 30px;
  margin: auto;
  left: 0;
  right: 0;*/
}
.font_18{
  font-size: 18px;
}
.slide-quan .receive {
  margin: 0 auto;
  width: 58%;
  display: block;
  height: 60px;
  line-height: 60px;
  background: #fc4c47;
  color: #fff;
  font-size: 2.4rem;
  border-radius: 4px;
  border: none;
  outline: none;
}
.slide-quan .continue {
  margin: 0 auto;
  width: 58%;
  height: 60px;
  display: block;
  margin-top: 35px;
  line-height: 60px;
  background: #fff;
  color: #b5b5b5;
  font-size: 2.4rem;
  border-radius: 4px;
  border: none;
  outline: none;
}
.suss {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #a9a9a9;
  height: 40px;
  line-height: 40px;
  margin-top: 88%;
  position: absolute;
}
.gt1000 .slide-quan .ui-mini-space {
  height: 4%;
}
.gt1000 .slide-quan .ui-min-space {
  height: 2%;
}
.gray_bg {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}
.share_bg {
  width: 361px;
  height: 258px;
  background: url(../../img/activity/share.png) no-repeat left top;
  position: absolute;
  right: 8%;
  top: 3%;
  z-index: 301;
}

/**/
@-webkit-keyframes stretch{
    0% {
        height: 0
    }
    100% {
       height: 273px;
    }
}
@-moz-keyframes stretch{
   0% {
        height: 0
    }
    100% {
       height: 273px;
    }
}
@keyframes stretch{
 0% {
        height: 0
    }
    100% {
       height: 273px;
    }
}
.stretch{
  -webkit-animation-name: stretch;
          animation-name: stretch;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
